		<div id="menu-wrapper">
			<ul id="menu">
				<li class="current_page_item"><a href="#"><span>Home</span></a></li>
				<li><a href="/server_sides/ror"><span>ROR</span></a></li>
				<li><%= link_to "PHP", server_sides_php_path %></li>
				<li><span>Links</span>
					<ul>
						<li class="first"> <a href="index">Maecenas luctus lectus</a> </li>
						<li> <a href="search">Integer gravida</a> </li>
						<li class="last"> <a href="about">Ut nonummy rutrum</a> </li>
					</ul>
				</li>
				<li><a href="#"><span>Contact</span></a></li>
			</ul>
			<script type="text/javascript">
			$('#menu').dropotron();
		</script> 
		</div>
		<!-- end #menu -->